header{
    background-color: rgb(240, 148, 240);
    text-align: right;
    font-size: 18px;
    border-bottom: 10px solid purple;
}

.button{
    background-color: rgb(240, 148, 240);
}

ul li{
    display: inline;
    margin: 15px;
}

.section-1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.section-2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
}